extends ../../layout
include elements/expandable-checkbox

include elements/element-header
include elements/element-input
include elements/dropdown-menu

block vars
  - pageTitle = 'Form Elements';

block content
  .container
    include ../../logo
    .content

      .input-section
        +element-header('text field', 'default', 'text-field-default')
        .border
          +element-input('text', 'Email', 'email')

        +element-header('text field', 'hover / focus', 'text-field-hover')
        .border
          +element-input('text', '', 'text', '', 'This is pretty awesome')

        +element-header('dropdown', '', '')
        .border-dropdown
          +dropdown-menu('Сколько гостей', 'drop')

        +element-header('masked text field', '', 'text-field-masked')
        .border
          +element-input('text', 'ДД.ММ.ГГГГ', 'text')

        include elements/date-dropdown
        include elements/filter-rate-dropdown

        .w267
          +element-header('subscription text field', '', 'text-field-default')
          .border
            +element-input('text', 'Email', 'email', '../../../static/img/arrow_forward_purple.svg')


        include elements/dropdown-default
        .dropdown-expand.shadow
          include elements/dropdown-default
          include elements/dropdown-list
        +expandable-checkbox()
        +expandable-checkbox("checked")
        include elements/specials

      .middle-section
        include elements/checkbox-buttons
        include elements/radio-buttons
        include elements/toggle-buttons
        include elements/like-button
        include elements/star-rating