extends ../../layout

include elements/element-header
include elements/element-input
include elements/dropdown-menu
include elements/dropdown-menu-list
include elements/checkbox
include elements/checkbox-expand
include elements/specials
include elements/radio-button
include elements/toggle
include elements/like-button
include elements/rate-button
include elements/rich-checkbox
include elements/button-click-me
include elements/bullet-list-element

block vars
  - pageTitle = 'Form Elements';

block content
  .container
    include ../../logo
    .content

      .input-section
        +element-header('text field', 'default', 'text-field-default')
        .border
          +element-input('text', 'Email', 'email', img, value)

        +element-header('text field', 'hover / focus', 'text-field-hover')
        .border
          +element-input('text', placeholder, 'text', img, 'This is pretty awesome')

        +element-header('dropdown', '', '')
        .border-dropdown
          +dropdown-menu('Сколько гостей', 'drop')

        +element-header('masked text field', '', 'text-field-masked')
        .border
          +element-input('text', 'ДД.ММ.ГГГГ', 'text', img, value)

        .margin20

        .dropdown-date-wrapper
          .dropdown-date
            +element-header('date Dropdown', '', '')
            .border-dropdown
              +dropdown-menu('ДД.ММ.ГГГГ', 'date-dropdown')
          .dropdown-date
            +element-header('date Dropdown', '', '')
            .border-dropdown
              +dropdown-menu('19.08.2019', 'date-dropdown-2')

        .w267

          .margin20

          +element-header('filter-rate-dropdown', '', 'filter-dropdown')
          .border-dropdown
            +dropdown-menu('19 авг - 23 авг', 'filter-dropdown')

          .margin20

          +element-header('subscription text field', '', 'text-field-default')
          .border
            +element-input('text', 'Email', 'email', '../../../static/img/arrow_forward_purple.svg')

          .margin76

          +element-header('dropdown', 'default', '')
          .border-dropdown
            +dropdown-menu('2 спальни, 2 кровати...', 'dropdown-default')

          +element-header('dropdown', 'expanded', '')
          .border-dropdown.shadow
            +dropdown-menu('2 спальни, 2 кровати...', 'dropdown-default-expand')
            .dropdown-menu-list
              ul.dropdown-menu__ul
                +listItem('спальни', '2')
                +listItem('кровати', '2')
                +listItem('ванные комнаты', '0')

          .margin51

          .checkbox-expand
            +checkbox-expand('expandable checkbox list', 'expand-checkbox')
            ul.checkbox-expand__list
              +checkbox('Завтрак', 'breakfast', checked)
              +checkbox('Письменный стол', 'table', 'checked')
              +checkbox('Стул для кормления', 'chair', 'checked')
              +checkbox('Кроватка', 'childbed', 'checked')
              +checkbox('Телевизор', 'tx1', checked)
              +checkbox('Шампунь', 'shampoo1', checked)
              +checkbox('Телевизор', 'tv2', checked)
              +checkbox('Шампунь', 'shampoo2', checked)

          .margin42

          .checkbox-expand
            +checkbox-expand('expandable checkbox list', 'expand-checkbox1', 'checked')
            ul.checkbox-expand__list
              +checkbox('Завтрак', 'breakfast1', checked)
              +checkbox('Письменный стол', 'table1', 'checked')
              +checkbox('Стул для кормления', 'chair1', 'checked')
              +checkbox('Кроватка', 'childbed1', 'checked')
              +checkbox('Телевизор', 'tx11', checked)
              +checkbox('Шампунь', 'shampoo11', checked)
              +checkbox('Телевизор', 'tv21', checked)
              +checkbox('Шампунь', 'shampoo21', checked)

        .specials
          +specials('../../../static/img/emoticon.svg', 'Комфорт', 'Шумопоглощающие стены')
          +specials('../../../static/img/city.svg', 'Удобство', 'Окно в каждой из спален')

      .middle-section
        +element-header('checkbox buttons', textText, forId)
        ul(style='padding: 0; margin: 8px, 0, 0')
          +checkbox('Можно курить', 'smoking')
          +checkbox('Можно с питомцами', 'pets', 'checked')
          +checkbox('Можно пригласить гостей (до 10 человек)', 'guest', 'checked') </ul>

        .margin22

        +element-header('radio buttons', textText, forId)
        .radio-buttons
          +radio('checked', 'male', 'Мужчина')
          +radio(checked, 'female', 'Женщина')

        +element-header('toggle', textText, forId)
        .toggle
          +toggle('Получать спецпредложения', 'toggle', 'checked')
          +toggle('Получать спецпредложения', 'toggle1', checked)

        +element-header('like button', textText, forId)
        .like-button
          +like-btn('2', 'like1', checked)
          +like-btn('12', 'like2', 'checked')

        +element-header('rate button', textText, forId)
        .star-rating__wrapper
          +rate-button('rate-btn1', checked5, 'checked', 'star01', 'star02', 'star03', 'star04', 'star05')
          +rate-button('rate-btn2', 'checked', checked5, 'star11', 'star12', 'star13', 'star14', 'star15')

        .margin173

        +element-header('dropdown', textText, forId)
        .border-dropdown.shadow
          +dropdown-menu('Сколько гостей', 'dropdown')
          .dropdown-menu-list
            ul.dropdown-menu__ul
              +listItem('взрослые', '0')
              +listItem('дети', '0')
              +listItem('младенцы', '0')
              include elements/dropdown-menu-list-bottom-btn

        .margin78

        +element-header('rich checkbox buttons', textText, forId)
        ul.rich-checkbox
          +rich-checkbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'corridor', checked)
          +rich-checkbox('Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', 'disabledPeople', checked)

        include elements/review-element

      .right-section

        .range-slider
          +element-header('Range Slider', '5 000₽ - 10 000₽', forId)
          input(type="range")

        .buttons
          +element-header('buttons', textText, forId)
          .button-wrapper
            +btn-click-me('Click Me', 'btn-click-me__btn')
            +btn-click-me('Click Me', 'btn-click-me__btn_active')
          .button-wrapper
            +btn-click-me('Click Me', 'btn-click-me__btn-border')
            +btn-click-me('Click Me', 'btn-click-me__btn-border')
          +btn-click-me('Click Me', 'btn-click-me__btn-simple')
          +btn-click-me('Click Me', 'btn-click-me__btn-simple')
          .margin30
          +btn-click-me('перейти к оплате', 'btn-click-me__btn-sale')

        .pagination
          +element-header('pagination', textText, forId)
          include elements/pagination
          p.pagination__text 1 – 12 из 100+ вариантов аренды

        +element-header('dropdown', textText, forId)
        .border-dropdown.shadow
          +dropdown-menu('3 гостя', 'dropdown3')
          .dropdown-menu-list
            ul.dropdown-menu__ul
              +listItem('взрослые', '2')
              +listItem('дети', '1')
              +listItem('младенцы', '0')
              include elements/dropdown-menu-list-bottom-btn

        .margin78

        +element-header('bullet list', textText, forId)
        .bullet-list
          ul.bullet-list__list
            +bullet-list__element('Нельзя с питомцами')
            +bullet-list__element('Без вечеринок и мероприятий')
            +bullet-list__element('Время прибытия — после 13:00, а выезд до 12:00')