.checkbox-buttons
  .expandable-checkbox

    h1.expandable-checkbox__header Checkbox Buttons

    ul.expandable-checkbox__list.checkbox-buttons__list

      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="smoke")
        span.expandable-checkbox__new-checkbox
        label(for="smoke") Можно курить
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" name="" id="animals" checked="checked")
        span.expandable-checkbox__new-checkbox
        label.animals Можно с питомцами
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" name="" id="guests" checked="checked")
        span.expandable-checkbox__new-checkbox
        label(for="guests") Можно пригласить гостей (до 10 человек)