mixin checkbox-expand(text, id, check)
  label.checkbox-expand__header(for=id) #{text}
  input.checkbox-expand__checkbox(type='checkbox', id=id, checked=check)
  img.checkbox-expand__button(src="../../../static/img/dropdown_arrow.svg" alt="arrow")