.dropdown-default
  .dropdown__header
    label.dropdown__head dropdown
    label.dropdown__text default
  .dropdown-default__border
    input.dropdown__field(value="2 спальни, 2 кровати...")
    img.dropdown__btn(src="../../../static/img/dropdown_arrow.svg")