.dropdown
  .dropdown__header
    label.dropdown__head dropdown
    label.dropdown__text
  .input-element__border
    input.dropdown__field(value="Сколько гостей")
    img.dropdown__btn(src="../../../static/img/dropdown_arrow.svg")