.dropdown-list
  ul
    li.dropdown-list__element
      span спальни
      .dropdown-list__buttons
        button.dropdown-list__btn
          img.dropdown-list__btn-minus(src="../../../static/img/minus_btn.svg")
        span 2
        button.dropdown-list__btn
          img.dropdown-list__btn-plus(src="../../../static/img/plus_btn.svg")
    li.dropdown-list__element
      span кровати
      .dropdown-list__buttons
        button.dropdown-list__btn
          img.dropdown-list__btn-minus(src="../../../static/img/minus_btn.svg")
        span 2
        button.dropdown-list__btn
          img.dropdown-list__btn-plus(src="../../../static/img/plus_btn.svg")
    li.dropdown-list__element
      span ванные комнаты
      .dropdown-list__buttons
        button.dropdown-list__btn
          img.dropdown-list__btn-minus(src="../../../static/img/minus_btn.svg")
        span 0
        button.dropdown-list__btn
          img.dropdown-list__btn-plus(src="../../../static/img/plus_btn.svg")
