mixin expandable-checkbox(checked)
  .expandable-checkbox
    label.expandable-checkbox__header(for="list") expandable checkbox list
    input.expandable-checkbox__head(type="checkbox" id="list" checked=checked)
    img.expandable-checkbox__btn(src="../../../static/img/dropdown_arrow.svg" alt="arrow")
    ul.expandable-checkbox__list 
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="breakfast")
        span.expandable-checkbox__new-checkbox
        label(for="breakfast") Завтрак
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="desk" checked="checked")
        span.expandable-checkbox__new-checkbox
        label(for="desk") Письменный стол
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="feed-chair" checked="checked")
        span.expandable-checkbox__new-checkbox
        label(for="feed-chair") Стул для кормления
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="child-bed" checked="checked")
        span.expandable-checkbox__new-checkbox
        label(for="child-bed") Кроватка
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="tv")
        span.expandable-checkbox__new-checkbox
        label(for="tv") Телевизор
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="shampoo")
        span.expandable-checkbox__new-checkbox
        label(for="shampoo") Шампунь
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="tv1")
        span.expandable-checkbox__new-checkbox
        label(for="tv1") Телевизор
      li.expandable-checkbox__element
        input.expandable-checkbox__checkbox(type="checkbox" id="shampoo1")
        span.expandable-checkbox__new-checkbox
        label(for="shampoo1") Шампунь