.filter-rate-dropdown
  .input-element__header
    label.input-element__head filter rate dropdown
    label.input-element__text
  .input-element__border-small
    input.input-element__textfield(type="text", value="19 авг - 23 авг")
    img.dropdown__btn(src="../../../static/img/dropdown_arrow.svg")