mixin like-btn(likes, id, checked)
  .like-button__element
    input(type="checkbox" class="like-button__checkbox" id=id checked=checked)
    span.like-button__border
    span.like-button__heart
    span.like-button__number #{likes}