.pagination-wrapper
  .pagination-btn.arrow-backward
    a.pagination-btn__link(href="#")
      img(src="../../../static/img/arrow_forward_white.svg", alt="")
  .pagination-btn.active-link
    a.pagination-btn__link(href="#") 1
  .pagination-btn
    a.pagination-btn__link(href="#") 2
  .pagination-btn
    a.pagination-btn__link(href="#") 3
  .pagination-btn
    a.pagination-btn__link(href="#") ...
  .pagination-btn
    a.pagination-btn__link(href="#") 15
  .pagination-btn.arrow-forward
    a.pagination-btn__link(href="#")
      img(src="../../../static/img/arrow_forward_white.svg", alt="")