.radio-buttons
  p.radio-buttons__head Radio Buttons
  .radio-buttons__element
    input(type="radio" id="male" name="gender" checked="checked")
    span.radio-buttons__btn
    label.radio-buttons__label(for="male") Мужчина
  .radio-buttons__element
    input(type="radio" id="female" name="gender")
    span.radio-buttons__btn
    label.radio-buttons__label(for="female") Женщина