include like-button

.review-wrapper
  .review-header
    .review-header__img
      img(src="../../../static/img/review-user1.svg")
    .review-header__head
      p.review-header__name Мурад Сарафанов
      p.review-header__date 5 дней назад
  .review-footer
    +like-btn('12', 'like-3', 'checked')
    p.review-footer__text-review Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.