.specials
  .specials__element
    .specials__img
      img(src="../../../static/img/emoticon.svg" alt="")
    .specials__description
      h1.specials__header Комфорт
      p.specials__text Шумопоглощающие стены
  .specials__element
    .specials__img
      img(src="../../../static/img/city.svg" alt="")
    .specials__description
      h1.specials__header Удобство
      p.specials__text Окно в каждой из спален