.star-rating
  p.star-rating__header rate button
  .star-rating__wrapper
    .star-rating__element
      input(type="radio" name="rating1" id="star-05")
      label(for="star-05")
      input(type="radio" name="rating1" id="star-04" checked="checked")
      label(for="star-04")
      input(type="radio" name="rating1" id="star-03")
      label(for="star-03")
      input(type="radio" name="rating1" id="star-02")
      label(for="star-02")
      input(type="radio" name="rating1" id="star-01")
      label(for="star-01")
    .star-rating__element
      input(type="radio" name="rating2" id="star-15" checked="checked")
      label(for="star-15")
      input(type="radio" name="rating2" id="star-14")
      label(for="star-14")
      input(type="radio" name="rating2" id="star-13")
      label(for="star-13")
      input(type="radio" name="rating2" id="star-12")
      label(for="star-12")
      input(type="radio" name="rating2" id="star-11")
      label(for="star-11")