.subscription-text-field
  .dropdown__header
    label.dropdown__head subscription text field
    label.dropdown__text
  .input-element__border-small
    input.dropdown__field(placeholder="Email")
    img.dropdown__btn(src="../../../static/img/arrow_forward_purple.svg")