.toggle
  p.toggle__head Toggle
  .toggle__element
    input.toggle__checkbox(type="checkbox" id="toggle-1" checked="checked")
    span.toggle__btn
    span.toggle__dot
    label.toggle__label(for="toggle-1") Получать спецпредложения

  .toggle__element
    input.toggle__checkbox(type="checkbox" id="toggle-2")
    span.toggle__btn
    span.toggle__dot
    label.toggle__label(for="toggle-2") Получать спецпредложения