.site-header {
  width: 100%;
  height: 70px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 140px;

  &__logo {}

  &__nav-bar {}

  &__link,
  &__link-dropdown,
  &__user {
    @extend %body;
    text-decoration: none;
    line-height: 17px;
    color: $ds50;
    margin: 0 10px;
  }

  &__link:first-of-type {
    font-weight: 700;
    color: $ds75;
    margin-left: 0;
  }

  &__link-dropdown {
    &:after {
      content: url(../../static/img/dropdown_arrow.svg);
      margin: 0 0 0 5.5px;
    }

    &:nth-child(2) {
      margin-right: 17px;
    }

    &:last-of-type {
      margin-right: 27px;
    }

  }

  &__user {
    margin: 0;
    padding-left: 20px;

    display: inline-block;

    position: relative;

    &:before {
      content: '';
      position: absolute;
      border-left: 1px solid $ds10;
      height: 30px;
      left: 0;
      bottom: -6px;
    }
  }
}