extends ../../layout

include ../form-elements/elements/element-header
include ../form-elements/elements/dropdown-menu
include ../form-elements/elements/button-click-me
include ../form-elements/elements/element-input
include ../form-elements/elements/radio-button
include ../form-elements/elements/toggle
include elements/number-info-header

block vars
  - pageTitle = 'Cards';
  - var bodyClass = 'body-grey';

block content
  .container
    include ../../logo
    .content

      .cards1

        .card-wrapper.shadow
          h1.card-header Найдём номера под ваши пожелания

          .dropdown-date-wrapper
            .dropdown-date
              +element-header('date Dropdown', '', '')
              .border-dropdown
                +dropdown-menu('ДД.ММ.ГГГГ', 'date-dropdown')
            .dropdown-date
              +element-header('date Dropdown', '', '')
              .border-dropdown
                +dropdown-menu('19.08.2019', 'date-dropdown-2')

          +element-header('гости', '', '')
          .border-dropdown
            +dropdown-menu('Сколько гостей', 'drop')

          +btn-click-me('подобрать номер', 'btn-click-me__btn-sale')



        .card-wrapper.shadow
          h1.card-header Регистрация аккаунта

          .border
            +element-input('text', 'имя', id, img, value)
          .border
            +element-input('text', 'фамилия', id, img, value)

          .radio-buttons
            +radio('checked', 'male', 'Мужчина')
            +radio(checked, 'female', 'Женщина')

          +element-header('дата рождения', textText, forId)
          .border
            +element-input('text', 'ДД.ММ.ГГГГ', id, img, value)

          +element-header('данные для входа в сервис', textText, forId)
          .border
            +element-input('text', 'Email', id, img, value)
          .border
            +element-input('password', 'Пароль', id, img, value)
          .toggle
            +toggle('Получать спецпредложения', 'toggle1', checked)

          +btn-click-me('перейти к оплате', 'btn-click-me__btn-sale')

          .sign-in-wrapper
            a.sign-up-already Уже есть аккаунт на Toxin
            +btn-click-me('войти', 'btn-click-me__btn-border')

      .cards2
        .card-wrapper.shadow
          +number-info-header('888', '9 990₽')

          .dropdown-date-wrapper
            .dropdown-date
              +element-header('прибытие', '', 'arrival')
              .border-dropdown
                +dropdown-menu('19.08.2019', 'arrival')
            .dropdown-date
              +element-header('выезд', '', 'departure')
              .border-dropdown
                +dropdown-menu('23.08.2019', 'departure')

          +element-header('гости', '', '')
          .border-dropdown
            +dropdown-menu('3 гостя', 'drop2')

          include elements/number-price-info

          +btn-click-me('забронировать', 'btn-click-me__btn-sale')

        .card-wrapper.shadow
          