extends ../../layout

include ../form-elements/elements/element-header
include ../form-elements/elements/dropdown-menu
include ../form-elements/elements/button-click-me

block vars
  - pageTitle = 'Cards';
  - var bodyClass = 'body-grey';

block content
  .container
    include ../../logo
    .content

      .cards1

        .find-number-card.shadow
          h1.card-header Найдём номера под ваши пожелания

          .dropdown-date-wrapper
            .dropdown-date
              +element-header('date Dropdown', '', '')
              .border-dropdown
                +dropdown-menu('ДД.ММ.ГГГГ', 'date-dropdown')
            .dropdown-date
              +element-header('date Dropdown', '', '')
              .border-dropdown
                +dropdown-menu('19.08.2019', 'date-dropdown-2')

          +element-header('гости', '', '')
          .border-dropdown
            +dropdown-menu('Сколько гостей', 'drop')

          +btn-click-me('перейти к оплате', 'btn-click-me__btn-sale')