.number-price-info
  .number-price-info__element
    p.number-price-info__sum 9 990₽ х 4 суток
    p.number-price-info__price 39 960₽
  .number-price-info__element
    p.number-price-info__service-charge Сбор за услуги: скидка 2 179₽
      img.number-price-info__info(src="../../../static/img/info.svg")
    p.number-price-info__price 0₽
  .number-price-info__element
    p.number-price-info__service-charge Сбор за дополнительные услуги
      img.number-price-info__info(src="../../../static/img/info.svg")
    p.number-price-info__price 300₽
  .number-price-info__element
    p.number-price-info__total-word Итого
    .dot-border
    p.number-price-info__total-price 38 081₽