.cards1 {
  max-width: 380px;

  margin: 72px 0 0 140px;
}

.cards2 {
  margin: 72px 40px 0 40px;
}

.cards3 {
  margin: 72px 140px 0 0;
}

.card-date-picker {
  width: 320px;

  background-color: #fff;
  border: 1px solid $ds25;
  border-radius: 4px;

  padding: 20px;
  margin-bottom: 20px;
}

.card-wrapper {
  width: 380px;

  background-color: #fff;

  border-radius: 4px;

  padding: 40px 30px 30px 30px;
  margin-bottom: 40px;
}

.card-header {
  @extend %h1;

  margin: 0;
}

.sign-in-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 44px;
}

.sign-up-already {
  @extend %body;
  line-height: 18px;

}

.number-info-header {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
  &__number {
    margin: 0;

    &:before {
      content: '№';

      @extend %body;
      font-weight: 700;
      line-height: 17px;
      color: $ds100;
    }

    &:after {
      content: 'люкс';

      @extend %h3;
      color: $purple;
      text-transform: uppercase;
    }
  }

  &__price {
    margin: 0;

    padding: 3px 0;

    @extend %body;
    line-height: 18px;
    font-weight: 700;
    color: $ds50;

    & span {
      font-size: 12px;
    }
  }

  &__per-day {
    font-weight: 400;
  }
}

.number-price-info {
  &__element {
    display: flex;
    justify-content: space-between;

    @extend %body;
    color: $ds75;
  }

  &__service-charge {
    width: 214px;

    position: relative;
  }

  &__info {
    position: absolute;
    top: 3px;
    right: -27px;
  }

  &__total-word {
    @extend %h2;
    margin: 0;
  }

  &__total-price {
    @extend %h2;
    margin: 0;
  }
}

.dot-border {
  height: 24px;
  width: 173px;
  border-bottom: 1px dotted $ds25;
  position: relative;
  bottom: 6px;
}