@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Bold.woff") format("woff"), url("../../static/fonts/Montserrat-Bold.svg") format("svg"), url("../../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Regular.woff") format("woff"), url("../../static/fonts/Montserrat-Regular.svg") format("svg"), url("../../static/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
}

.h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}

.colors__name, .colors__code, .h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
}

.h3, .input-element__head, .input-element__text, .expandable-checkbox__header, .radio-buttons__head, .toggle__head, .like-button__head {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
}

.body, .input-element__textfield, .input-element__textfield::placeholder, .dropdown-list__element span, .expandable-checkbox__head:checked ~ .expandable-checkbox__list, .expandable-checkbox__list, .specials__header, .specials__text, .radio-buttons__label, .toggle__label, .like-button__number {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.logo {
  margin: 30px 0 0 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

/* Colors & Types
========================== */
.colors {
  width: 100%;
  max-width: 282px;
  margin: 145px 150px;
}

.colors__element {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.colors__block {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}

.colors__text {
  margin-left: 40px;
}

.colors__code {
  font-weight: 400;
}

.ds100 {
  background-color: #1f2041;
}

.ds75 {
  background-color: rgba(31, 32, 65, 0.75);
}

.ds50 {
  background-color: rgba(31, 32, 65, 0.5);
}

.ds25 {
  background-color: rgba(31, 32, 65, 0.25);
}

.ds5 {
  background-color: rgba(31, 32, 65, 0.05);
}

.purple {
  background-color: #bc9cff;
}

.green {
  background-color: #6fcf97;
}

.types {
  width: 100%;
  max-width: 436px;
  margin: 145px 150px;
}

.types__element {
  display: flex;
  margin-bottom: 50px;
}

.types__name {
  display: block;
  text-align: right;
  width: 100%;
  max-width: 37px;
  margin-right: 30px;
  color: rgba(31, 32, 65, 0.25);
  font-weight: 400;
}

.types__text {
  width: 100%;
  max-width: 369px;
}

@media (max-width: 1300px) {
  .logo {
    display: none;
  }
  .colors {
    margin: 45px 50px;
  }
  .colors__block {
    flex-shrink: 0;
  }
  .types {
    margin: 45px 50px;
  }
}

@media (max-width: 655px) {
  .content {
    flex-direction: column;
  }
  .colors {
    margin: 0;
    padding: 15px 10px;
  }
  .types {
    padding: 15px 10px;
    margin: 0;
  }
  .types__element {
    margin-bottom: 20px;
  }
  .types__name {
    display: flex;
    margin-right: 5px;
  }
}

/* Form Elements
==================== */
.input-section {
  margin-left: 141px;
  margin-top: 85px;
  width: 100%;
  max-width: 320px;
}

.input-element {
  margin-bottom: 20px;
}

.input-element__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.input-element__head {
  text-transform: uppercase;
}

.input-element__text {
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  text-transform: uppercase;
}

.input-element__field {
  width: 320px;
  height: 44px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.input-element__field:hover, .input-element__field:focus, .input-element__field:active {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.input-element__textfield {
  color: rgba(31, 32, 65, 0.75);
  margin: 13px 5px 13px 15px;
  width: 100%;
  border: none;
}

.input-element__textfield:hover, .input-element__textfield:focus {
  outline: none;
}

.input-element__textfield::placeholder {
  color: rgba(31, 32, 65, 0.25);
  line-height: 14px;
}

.input-element__btn {
  width: 44px;
  height: 44px;
  border: none;
  color: #fff;
  background: transparent;
}

.input-element__date-drop {
  width: 150px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.hover-focus {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
}

.date {
  display: flex;
  justify-content: space-between;
}

.input-element-small {
  margin-top: 40px;
}

.small {
  width: 266px;
}

/* dropdown section 
===================*/
.dropdown-section {
  margin-top: 100px;
}

.dropdown {
  width: 266px;
  margin-top: 20px;
}

.dropdown-field {
  border-radius: 4px 4px 0 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.shadow {
  box-shadow: 0px 10px 20px 0px #1F20410D;
}

.dropdown-list {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 7px 7px 7px 15px;
}

.dropdown-list__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-list__element span {
  font-weight: 700;
  line-height: 14px;
}

.dropdown-list__buttons {
  width: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.dropdown-list__btn {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  background: transparent;
  width: 30px;
  height: 30px;
}

.dropdown-list__btn-minus {
  position: relative;
  bottom: 3px;
}

/* expandable-checkbox 
=======================*/
.expandable-checkbox {
  margin-top: 55px;
}

.expandable-checkbox__header {
  text-transform: uppercase;
  cursor: pointer;
}

.expandable-checkbox__head {
  margin-left: 44px;
  cursor: pointer;
  opacity: 0;
}

.expandable-checkbox__head:checked ~ .expandable-checkbox__list {
  height: 233px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  text-transform: none;
}

.expandable-checkbox__head:checked ~ .expandable-checkbox__btn {
  transform: rotate(180deg);
}

.expandable-checkbox__btn {
  margin-left: -20px;
  transition: rotate 0.2s;
}

.expandable-checkbox__list {
  height: 0;
  overflow: hidden;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  margin-top: 18px;
}

.expandable-checkbox__element {
  display: inline-flex;
  width: 100%;
  max-width: 266px;
}

.expandable-checkbox__element label {
  cursor: pointer;
}

.expandable-checkbox__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 0;
  margin-left: 0;
}

.expandable-checkbox__checkbox:checked ~ .expandable-checkbox__new-checkbox {
  background-image: url(../../static/img/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #bc9cff;
}

.expandable-checkbox__new-checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin: 0 10px 10px 0;
  flex-shrink: 0;
}

/* specials 
=========================*/
.specials {
  margin-bottom: 132px;
  margin-top: 41px;
  width: 100%;
  max-width: 280px;
}

.specials__element {
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 17px;
}

.specials__element:last-child {
  padding-top: 23px;
}

.specials__img {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 6px;
}

.specials__description {
  display: inline-block;
  margin-left: 10px;
}

.specials__header {
  font-weight: 700;
  margin: 0;
}

.specials__text {
  margin: 0;
}

/* middle section
================= */
.middle-section {
  margin-right: 72px;
  margin-left: 126px;
}

/* checkbox buttons
================== */
.checkbox-buttons {
  margin-top: 88px;
  width: 100%;
  max-width: 222px;
}

.checkbox-buttons__list {
  height: 100%;
  max-height: 129px;
}

/* radio buttons
================ */
.radio-buttons {
  margin-top: 40px;
}

.radio-buttons__head {
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.radio-buttons__element {
  display: inline-flex;
  align-items: center;
}

.radio-buttons input {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 0;
  margin-top: 0;
  opacity: 0;
  cursor: pointer;
}

.radio-buttons input:checked ~ .radio-buttons__btn {
  border-color: #bc9cff;
  background-image: url("../../static/img/dot_purple.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio-buttons__btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 10px;
}

.radio-buttons__label {
  padding-right: 17px;
  cursor: pointer;
}

/* toggle buttons
================== */
.toggle {
  margin-top: 40px;
  width: 100%;
  max-width: 260px;
  height: 89px;
}

.toggle__head {
  text-transform: uppercase;
  margin: 0;
}

.toggle__element {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.toggle__btn {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease-out;
}

.toggle__checkbox {
  position: absolute;
  width: 40px;
  height: 20px;
  margin-left: 0;
  margin-top: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.toggle__checkbox:checked + .toggle__btn {
  border-color: #bc9cff;
}

.toggle__checkbox:checked ~ .toggle__dot {
  background-color: #bc9cff;
  margin: 4px 4px 4px 24px;
}

.toggle__dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin: 4px 24px 4px 4px;
  transition: all 0.3s ease-out;
}

.toggle__label {
  margin-left: 10px;
  cursor: pointer;
}

/* like button
====================== */
.like-button {
  margin-top: 40px;
}

.like-button__head {
  text-transform: uppercase;
  margin: 0;
}

.like-button__element {
  display: inline-flex;
  align-items: center;
  margin-top: 16px;
  margin-right: 10px;
}

.like-button__checkbox {
  position: absolute;
  width: 40px;
  height: 20px;
  margin-left: 0;
  margin-top: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.like-button__checkbox:hover + .like-button__border {
  border: 1px solid #bc9cff;
}

.like-button__checkbox:checked + .like-button__border {
  border: 1px solid #bc9cff;
}

.like-button__checkbox:checked ~ .like-button__heart {
  background-image: url("../../static/img/heart-purple.svg");
}

.like-button__checkbox:checked ~ .like-button__number {
  color: #bc9cff;
}

.like-button__border {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
}

.like-button__heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../../static/img/heart-grey.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.like-button__number {
  position: absolute;
  margin-left: 22px;
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
}
