@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Bold.woff") format("woff"), url("../../static/fonts/Montserrat-Bold.svg") format("svg"), url("../../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Regular.woff") format("woff"), url("../../static/fonts/Montserrat-Regular.svg") format("svg"), url("../../static/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
}

.h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}

.colors__name, .colors__code, .h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
}

.h3, .input-element__head, .input-element__text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
}

.body, .input-element__textfield, .input-element__textfield::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.logo {
  margin: 30px 0 0 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

/* Colors & Types
========================== */
.colors {
  width: 100%;
  max-width: 282px;
  margin: 145px 150px;
}

.colors__element {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.colors__block {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}

.colors__text {
  margin-left: 40px;
}

.colors__code {
  font-weight: 400;
}

.ds100 {
  background-color: #1f2041;
}

.ds75 {
  background-color: rgba(31, 32, 65, 0.75);
}

.ds50 {
  background-color: rgba(31, 32, 65, 0.5);
}

.ds25 {
  background-color: rgba(31, 32, 65, 0.25);
}

.ds5 {
  background-color: rgba(31, 32, 65, 0.05);
}

.purple {
  background-color: #bc9cff;
}

.green {
  background-color: #6fcf97;
}

.types {
  width: 100%;
  max-width: 436px;
  margin: 145px 150px;
}

.types__element {
  display: flex;
  margin-bottom: 50px;
}

.types__name {
  display: block;
  text-align: right;
  width: 100%;
  max-width: 37px;
  margin-right: 30px;
  color: rgba(31, 32, 65, 0.25);
  font-weight: 400;
}

.types__text {
  width: 100%;
  max-width: 369px;
}

@media (max-width: 1300px) {
  .logo {
    display: none;
  }
  .colors {
    margin: 45px 50px;
  }
  .colors__block {
    flex-shrink: 0;
  }
  .types {
    margin: 45px 50px;
  }
}

@media (max-width: 655px) {
  .content {
    flex-direction: column;
  }
  .colors {
    margin: 0;
    padding: 15px 10px;
  }
  .types {
    padding: 15px 10px;
    margin: 0;
  }
  .types__element {
    margin-bottom: 20px;
  }
  .types__name {
    display: flex;
    margin-right: 5px;
  }
}

/* Form Elements
==================== */
.input-section {
  margin-left: 141px;
  margin-top: 85px;
}

.input-element {
  margin-bottom: 20px;
}

.input-element__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.input-element__head {
  text-transform: uppercase;
}

.input-element__text {
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  text-transform: uppercase;
}

.input-element__field {
  width: 320px;
  height: 44px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.input-element__field:hover, .input-element__field:focus {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.input-element__textfield {
  color: rgba(31, 32, 65, 0.75);
  margin: 13px 5px 13px 15px;
  width: 100%;
  border: none;
}

.input-element__textfield:hover, .input-element__textfield:focus {
  outline: none;
}

.input-element__textfield::placeholder {
  color: rgba(31, 32, 65, 0.25);
  line-height: 14px;
}

.input-element__btn {
  width: 44px;
  height: 44px;
  border: none;
  color: #fff;
  background: transparent;
}

.input-element__date-drop {
  width: 150px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.hover-focus {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
}

.date {
  display: flex;
  justify-content: space-between;
}

.input-element-small {
  margin-top: 40px;
}

.small {
  width: 266px;
}
