extends ../../layout

include ../form-elements/elements/button-click-me

block vars
  - pageTitle = 'Headers & Footers';
  - var bodyClass = 'body-grey';

block content
  .container
    include ../../logo

    .site-header
      img.site-header__logo(src="../../../../static/img/logo.svg", alt="toxin")
      .site-header__nav-bar
        a.site-header__link(href="#") О нас
        a.site-header__link-dropdown(href="#") Услуги
        a.site-header__link(href="#") Вакансии
        a.site-header__link(href="#") Новости
        a.site-header__link-dropdown(href="#") Соглашения
        +btn-click-me('Войти', 'btn-click-me__btn-border')
        +btn-click-me('Зарегистрироваться', 'btn-click-me__btn')

    .site-header
      img.site-header__logo(src="../../../../static/img/logo.svg", alt="toxin")
      .site-header__nav-bar
        a.site-header__link(href="#") О нас
        a.site-header__link-dropdown(href="#") Услуги
        a.site-header__link(href="#") Вакансии
        a.site-header__link(href="#") Новости
        a.site-header__link-dropdown(href="#") Соглашения
        .site-header__user
          a Юлий Цезарь