extends ../../layout

block vars
  - pageTitle = 'Headers & Footers';
  - var bodyClass = 'body-grey';

block content
  .container
    include ../../logo

    .headers-footers
      .header__logo
      .header__nav-bar
        .header__login-btn