.site-card
  .site-card__logo
    img.site-header__logo(src="../../../static/img/logo.svg", alt="toxin")
  p.site-footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .site-footer__social-links
      a(href="#")
        img(src="../../../static/img/twitter.svg", alt="")
      a(href="#")
        img(src="../../../static/img/facebook.svg", alt="")
      a(href="#")
        img(src="../../../static/img/instagram.svg", alt="")