.dropdown-list {
  border: 1px solid $ds50;
  border-top: none;
  border-radius: 0 0 4px 4px;

  padding: 7px 7px 7px 15px;

  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      @extend %body;
      font-weight: 700;
      line-height: 14px;
    }
  }

  &__buttons {
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }

  &__btn {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    background: transparent;
    width: 30px;
    height: 30px;
  }

  &__btn-minus {
    position: relative;
    bottom: 3px;
  }
}