.expandable-checkbox {
  margin-top: 55px;

  width: 260px;

  & ul {
    padding: 0;
  }

  &__header {
    @extend %h3;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__head {
    margin-left: 44px;
    cursor: pointer;
    opacity: 0;

    &:checked~.expandable-checkbox__list {
      height: 233px;
      @extend %body;
      line-height: 18px;
      color: $ds25;
      text-transform: none;
    }

    &:checked~.expandable-checkbox__btn {
      transform: rotate(180deg);
    }
  }

  &__btn {
    margin-left: -20px;
    transition: rotate 0.2s;
  }

  &__list {
    height: 0;
    overflow: hidden;

    @extend %body;
    line-height: 18px;
    color: $ds25;

    margin-top: 18px;
  }

  &__element {
    display: inline-flex;
    width: 100%;
    max-width: 266px;

    & label {
      cursor: pointer;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    height: 20px;
    width: 20px;

    margin-top: 0;
    margin-left: 0;

    &:checked~.expandable-checkbox__new-checkbox {
      background-image: url(../../static/img/check-icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-color: $purple;
    }
  }

  &__new-checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid $ds25;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    flex-shrink: 0;
  }
}
