.margin20 {
  margin-bottom: 20px;
}
.margin76 {
  margin-bottom: 76px;
}

.margin51 {
  margin-bottom: 51px;
}

.margin42 {
  margin-bottom: 42px;
}

.margin22 {
  margin-bottom: 22px;
}

.margin173 {
  margin-bottom: 173px;
}

.margin78 {
  margin-bottom: 78px;
}

.margin30 {
  margin-bottom: 30px;
}

.margin27 {
  margin-bottom: 27px;
}

.margin10 {
  margin-bottom: 10px;
}

.margin9 {
  margin-bottom: 9px;
}

.margin16 {
  margin-bottom: 16px;
}

.margin31 {
  margin-bottom: 31px;
}