.input-element {
  max-width: 320px;
  
  margin-bottom: 20px;

  &__header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 8px;
  }

  &__head {
    @extend %h3;
    text-transform: uppercase;
  }

  &__text {
    @extend %h3;
    color: $ds50;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__border {
    height: 44px;

    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $ds25;
    border-radius: 4px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $ds50;
    }
  }

  &__textfield {
    @extend %body;
    color: $ds75;

    margin: 13px 5px 13px 15px;

    width: 100%;

    border: none;
    outline: none;

    &::placeholder {
      @extend %body;
      color: $ds25;
    }
  }
}