.like-button {
  &__head {
    text-transform: uppercase;
    @extend %h3;

    margin: 0;
  }

  &__element {
    display: inline-flex;
    align-items: center;

    margin-right: 10px;
  }

  &__checkbox {
    position: absolute;

    width: 40px;
    height: 20px;

    margin-left: 0;
    margin-top: 0;

    opacity: 0;
    z-index: 1;

    cursor: pointer;

    &:hover+.like-button__border {
      border: 1px solid $purple;
    }

    &:checked+.like-button__border {
      border: 1px solid $purple;
    }

    &:checked~.like-button__heart {
      background-image: url("../../static/img/heart-purple.svg");
    }

    &:checked~.like-button__number {
      color: $purple;
    }
  }

  &__border {
    width: 40px;
    height: 20px;

    border: 1px solid $ds25;
    border-radius: 10px;
  }

  &__heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../../static/img/heart-grey.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__number {
    position: absolute;
    margin-left: 22px;

    @extend %body;
    font-size: 10px;
    line-height: 12px;
    color: $ds25;
  }
}