@import "_fonts.scss";
@import "_vars.scss";
@import "_templates.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1440px;
}
.logo {
  margin: 30px 0 0 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}

/* Colors & Types
========================== */

@import "ui-kit/colors-types/colors.scss";

@import "ui-kit/colors-types/types.scss";

@import "ui-kit/colors-types/media.scss";

/* Form Elements
==================== */
.input-section {
  margin-left: 141px;
  margin-top: 85px;
  margin-bottom: 132px;
}

.dropdown-expand {
  width: 260px;
}

@import "ui-kit/form-elements/input-element.scss";

@import "ui-kit/form-elements/dropdown.scss";

@import "ui-kit/form-elements/date-dropdown.scss";

@import "ui-kit/form-elements/filter-rate.dropdown.scss";

@import "ui-kit/form-elements/subscription-text-field.scss";

@import "ui-kit/form-elements/dropdown-default.scss";

@import "ui-kit/form-elements/dropdown-list.scss";

@import "ui-kit/form-elements/shadow.scss";

@import "ui-kit/form-elements/expandable-checkbox.scss";

@import "ui-kit/form-elements/specials.scss";


.middle-section {
  margin-right: 72px;
  margin-left: 126px;

}

@import "ui-kit/form-elements/checkbox-buttons.scss";

@import "ui-kit/form-elements/radio-buttons.scss";

@import "ui-kit/form-elements/toggle-buttons.scss";

@import "ui-kit/form-elements/like-button.scss";

@import "ui-kit/form-elements/star-rating.scss";