@import "_fonts.scss";
@import "_vars.scss";
@import "_templates.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1440px;
}
.logo {
  margin: 30px 0 0 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}

/* Colors & Types
========================== */

@import "ui-kit/colors-types/colors.scss";

@import "ui-kit/colors-types/types.scss";

@import "ui-kit/colors-types/media.scss";


/* Form Elements
==================== */
.input-section {
  margin-left: 141px;
  margin-top: 85px;

  width: 100%;
  max-width: 320px;
}

.input-element {
  margin-bottom: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__head {
    @extend %h3;
    text-transform: uppercase;
  }

  &__text {
    @extend %h3;
    color: $ds50;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__field {
  width: 320px;
  height: 44px;

  overflow: hidden;

  display: flex;
  justify-content: space-between;

  border: 1px solid $ds25;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid $ds50;
    }
  }

  &__textfield {
    @extend %body;
    color: $ds75;

    margin: 13px 5px 13px 15px;

    width: 100%;

    border: none;

    &:hover,
    &:focus {
      outline: none;
    }

    &::placeholder {
      @extend %body;
      color: $ds25;
      line-height: 14px;
    }
  }

  &__btn {
    width: 44px;
    height: 44px;

    border: none;
    color: #fff;
    background: transparent;
  }

  &__date-drop {
    width: 150px;
    height: 44px;

    display: flex;
    justify-content: space-between;

    border: 1px solid $ds25;
    border-radius: 4px;
  }
}

.hover-focus {
  outline: none;
  border: 1px solid $ds50;
  border-radius: 4px;
}

.date {
  display: flex;
  justify-content: space-between;
}

.input-element-small {
  margin-top: 40px;
}

.small {
  width: 266px;
}



/* dropdown section 
===================*/


.dropdown-section {
  margin-top: 100px;

}

.dropdown {
  width: 266px;

  margin-top: 20px;
}

.dropdown-field {
  border-radius: 4px 4px 0 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.shadow {
  box-shadow: 0px 10px 20px 0px #1F20410D;
}

.dropdown-list {
  border: 1px solid $ds50;
  border-top: none;
  border-radius: 0 0 4px 4px;

  padding: 7px 7px 7px 15px;

  &__element {
    display: flex;
    justify-content: space-between;
    align-items:center;

    span {
      @extend %body;
      font-weight: 700;
      line-height: 14px;
    }
  }

  &__buttons {
    width: 92px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 7px;
  }

  &__btn {
    border: 1px solid $ds25;
    border-radius: 50%;
    background: transparent;

    width: 30px;
    height: 30px;
  }

  &__btn-minus {
    position: relative;
    bottom: 3px;
  }
}




/* expandable-checkbox 
=======================*/

.expandable-checkbox {
  margin-top: 55px;

  &__header {
    @extend %h3;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__head {
    margin-left: 44px;
    cursor: pointer;
    opacity: 0;

    &:checked~.expandable-checkbox__list {
      height: 233px;
      @extend %body;
      line-height: 18px;
      color: $ds25;
      text-transform: none;
    }

    &:checked~.expandable-checkbox__btn {
      transform: rotate(180deg);
    }
  }

  &__btn {
    margin-left: -20px;
    transition: rotate 0.2s;
  }

  &__list {
    height: 0;
    overflow: hidden;
    
    @extend %body;
    line-height: 18px;
    color: $ds25;

    margin-top: 18px;
  }

  &__element {
    display: inline-flex;
    width: 100%;
    max-width: 266px;

    & label {
      cursor: pointer;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    height: 20px;
    width: 20px;

    margin-top: 0;
    margin-left: 0;
    &:checked~.expandable-checkbox__new-checkbox {
      background-image: url(../../static/img/check-icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-color: $purple;
    }
  }

  &__new-checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid $ds25;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    flex-shrink: 0;
  }
}



/* specials 
=========================*/

.specials {
  margin-bottom: 132px;
  margin-top: 41px;

  width: 100%;
  max-width: 280px;

  
  &__element {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    padding-bottom: 17px;

    &:last-child {
      padding-top: 23px;
    }
  }

  &__img {
    display: inline-block;
    vertical-align: bottom;

    margin-left: 6px;
  }

  &__description {
    display: inline-block;
    margin-left: 10px;
  }

  &__header {
    @extend %body;
    font-weight: 700;

    margin: 0;
  }

  &__text {
    @extend %body;

    margin: 0;
  }
}



/* middle section
================= */

.middle-section {
  margin-right: 72px;
  margin-left: 126px;

}


/* checkbox buttons
================== */

.checkbox-buttons {
  margin-top: 88px;
  width: 100%;
  max-width: 222px;

  &__list {
    height: 100%;
    max-height: 129px;
  }
}


/* radio buttons
================ */

.radio-buttons {
  margin-top: 40px;

  &__head {
    @extend %h3;
    text-transform: uppercase;
    margin: 0 0 16px 0;
  }

  &__element {
    display: inline-flex;
    align-items: center;
  }

  &__container {
  }

  & input {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-top: 0;
    opacity: 0;

    cursor: pointer;
  }


  & input:checked~.radio-buttons__btn{
    border-color: $purple;
    background-image: url("../../static/img/dot_purple.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__btn {
    display: inline-block;
    width: 20px;
    height: 20px;

    border: 1px solid $ds25;
    border-radius: 50%;

    margin-right: 10px;
  }

  &__label {
    @extend %body;

    padding-right: 17px;
    
    cursor: pointer;
  }
}


/* toggle buttons
================== */

.toggle {
  margin-top: 40px;

  width: 100%;
  max-width: 260px;

  height: 89px;

  &__head {
    text-transform: uppercase;
    @extend %h3;
    margin: 0;
  }

  &__element {
    display: inline-flex;
    align-items: center;

    margin-top: 10px;
  }

  &__btn {
    width: 40px;
    height: 20px;

    border: 1px solid $ds25;
    border-radius: 10px;

    flex-shrink: 0;

    transition: all 0.3s ease-out;
  }

  &__checkbox {
    position: absolute;

    width: 40px;
    height: 20px;
    
    margin-left: 0;
    margin-top: 0;

    opacity: 0;

    z-index: 1;

    cursor: pointer;

    &:checked+.toggle__btn {
      border-color: $purple;
    }

    &:checked~.toggle__dot {
      background-color: #bc9cff;
      margin: 4px 4px 4px 24px;
    }
  }

  &__dot {
    position: absolute;

    width: 12px;
    height: 12px;

    background-color: $ds25;
    border-radius: 50%;

    margin: 4px 24px 4px 4px;

    transition: all 0.3s ease-out;
  }

  &__label {
    margin-left: 10px;
    @extend %body;

    cursor: pointer;
  }
}


/* like button
====================== */
.like-button {
  margin-top: 40px;

  &__head {
    text-transform: uppercase;
    @extend %h3;

    margin: 0;
  }

  &__element {
    display: inline-flex;
    align-items: center;

    margin-top: 16px;
    margin-right: 10px;
  }

  &__checkbox {
    position: absolute;

    width: 40px;
    height: 20px;

    margin-left: 0;
    margin-top: 0;

    opacity: 0;
    z-index: 1;

    cursor: pointer;

    &:hover+.like-button__border {
      border: 1px solid $purple;
    }

    &:checked+.like-button__border {
      border: 1px solid $purple;
    }

    &:checked~.like-button__heart {
      background-image: url("../../static/img/heart-purple.svg");
    }

    &:checked~.like-button__number {
      color: $purple;
    }
  }

  &__border {
    width: 40px;
    height: 20px;

    border: 1px solid $ds25;
    border-radius: 10px;
  }

  &__heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../../static/img/heart-grey.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__number {
    position: absolute;
    margin-left: 22px;

    @extend %body;
    font-size: 10px;
    line-height: 12px;
    color: $ds25;
  }
}


/* star rating 
====================*/

.star-rating {
  margin-top: 40px;

  &__header {
    @extend %h3;
    text-transform: uppercase;
    margin: 0 0 16px 0;
  }

  &__wrapper {
    display: inline-flex;
    justify-content: space-between;
    max-width: 260px;
  }

  &__element {
    direction: rtl;
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0;
    }

    & label {
      display: inline-block;

      width: 20px;
      height: 20px;

      background-image: url(../../static/img/star_border.svg);
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;
    }

    & input {
      display: none;
    }

    & label:hover,
    & label:hover~label,
    & input:checked~label {
      background-image: url(../../static/img/star.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}