@import "_fonts.scss";
@import "_vars.scss";
@import "_templates.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1440px;
}
.logo {
  margin: 30px 0 0 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}

/* Colors & Types
========================== */

.colors {
  width: 100%;
  max-width: 282px;
  margin: 145px 150px;

  &__element {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  &__block {
    width: 70px;
    height: 70px;

    border-radius: 6px;
  }
  &__text {
    margin-left: 40px;
  }
  &__name {
    @extend %h2;
  }
  &__code {
    @extend %h2;
    font-weight: 400;
  }
}
.ds100 {
  background-color: $ds100;
}
.ds75 {
  background-color: $ds75;
}
.ds50 {
  background-color: $ds50;
}
.ds25 {
  background-color: $ds25;
}
.ds5 {
  background-color: $ds5;
}
.purple {
  background-color: $purple;
}
.green {
  background-color: $green;
}

.types {
  width: 100%;
  max-width: 436px;
  margin: 145px 150px;

  &__element {
    display: flex;
    margin-bottom: 50px;
  }
  &__name {
    display: block;
    text-align: right;
    width: 100%;
    max-width: 37px;

    margin-right: 30px;

    color: $ds25;

    font-weight: 400;
  }
  &__text {
    width: 100%;
    max-width: 369px;
  }
}
.h1 {
  @extend %h1;
}
.h2 {
  @extend %h2;
}
.h3 {
  @extend %h3;
}
.body {
  @extend %body;
}

@media (max-width: 1300px) {
  .logo {
    display: none;
  }
  .colors {
    margin: 45px 50px;

    &__block {
      flex-shrink: 0;
    }
  }
  .types {
    margin: 45px 50px;
  }
}
@media (max-width: 655px) {
  .content {
    flex-direction: column;
  }
  .colors {
    margin: 0;
    padding: 15px 10px;
  }
  .types {
    padding: 15px 10px;
    margin: 0;
    &__element {
      margin-bottom: 20px;
    }
    &__name {
      display: flex;

      margin-right: 5px;
    }
  }
}


/* Form Elements
==================== */
.input-section {
  margin-left: 141px;
  margin-top: 85px;
}

.input-element {
  margin-bottom: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__head {
    @extend %h3;
    text-transform: uppercase;
  }

  &__text {
    @extend %h3;
    color: $ds50;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__field {
  width: 320px;
  height: 44px;

  overflow: hidden;

  display: flex;
  justify-content: space-between;

  border: 1px solid $ds25;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid $ds50;
    }
  }

  &__textfield {
    @extend %body;
    color: $ds75;

    margin: 13px 5px 13px 15px;

    width: 100%;

    border: none;

    &:hover,
    &:focus {
      outline: none;
    }

    &::placeholder {
      @extend %body;
      color: $ds25;
      line-height: 14px;
    }
  }

  &__btn {
    width: 44px;
    height: 44px;

    border: none;
    color: #fff;
    background: transparent;
  }

  &__date-drop {
    width: 150px;
    height: 44px;

    display: flex;
    justify-content: space-between;

    border: 1px solid $ds25;
    border-radius: 4px;
  }
}

.hover-focus {
  outline: none;
  border: 1px solid $ds50;
  border-radius: 4px;
}

.date {
  display: flex;
  justify-content: space-between;
}

.input-element-small {
  margin-top: 40px;
}

.small {
  width: 266px;
}

.dropdown-section {
  margin-top: 100px;

}

.dropdown {
  width: 266px;

  margin-top: 20px;
}

.dropdown-field {
  border-radius: 4px 4px 0 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.shadow {
  box-shadow: 0px 10px 20px 0px #1F20410D;
}

.dropdown-list {
  border: 1px solid $ds50;
  border-top: none;
  border-radius: 0 0 4px 4px;

  padding: 7px 7px 7px 15px;

  &__element {
    display: flex;
    justify-content: space-between;
    align-items:center;

    span {
      @extend %body;
      font-weight: 700;
      line-height: 14px;
    }
  }

  &__buttons {
    width: 92px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 7px;
  }

  &__btn {
    border: 1px solid $ds25;
    border-radius: 50%;
    background: transparent;

    width: 30px;
    height: 30px;
  }

  &__btn-minus {
    position: relative;
    bottom: 3px;
  }

  &__value {}
}